# Calva (VS Code Clojure extension)
.calva/

# clj-kondo linter config/cache
.clj-kondo/

# LSP server caches
.lsp/
/out/
/resources/public/js/compiled/
/target/
/*-init.clj
/*.log

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/
